# dependencies
node_modules/

# dotenv environment variables
.env
*.env

# service account key (ما يتدفعش تاني)
serviceAccountKey.json

# build outputs
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.vscode/
